body{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        min-height: 100vh;
}
header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 128px;
}
#logo {
        height: 100px;
        width: auto;
        padding: 0;
        margin: 0;
}

.navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
}
.menubtn{
        background-color: white;
        border: none;
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left:12px;
        
}
.menubtn:hover{
        cursor:pointer;
        background-color:aquamarine;
}
#searchbar{
        height:initial;
        height: 28px;
        margin-left:20px;
        border: 1px solid;
        border-radius: 12px;
        box-sizing: border-box;
        padding-left: 8px;   
        background-image: url('buyutec.png');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: right 5px center;
}